# Data & Models (Root only)
/data/
/models/
metrics.json
metrics.yaml
.dvcignore

# Environment
.ecom_venv/
ecommerce_venv/
.env
__pycache__/
*.pyc

# Project Specific
/Dataset/
/Notebooks/

# IDEs
.vscode/
.idea/
